.Portfolio {
	position: relative;
	width: 100vw;
	height: 150vh;
	padding-top: 80px;

	.Folders {
		padding: 100px;
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 25px;
		
		.container{
			position: relative;
			width: 200px;
			height: 200px;
			box-shadow: 1px 1px 10px 0px rgb(130, 129, 128);
			border: 3px solid rgb(145, 147, 147);
			border-radius: 15px;
			transition: all 0.8s ease;
			transform-style: preserve-3d;
			z-index: 0;
	
		}
		.toOpen {
			z-index: 100;
			animation-duration: 5s;
			.front{backface-visibility: hidden;}
			.back{backface-visibility:visible;}
		
			
			&#matic {
				animation: showBackMatic 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackMatic {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform:  rotateY(180deg) scale(3, 2) translate(-70px, 50px);
					}
				}
			}
			&#brainbase {
				animation: showBackBrainbase 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackBrainbase {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(-50px, 50px);
					}
				}
			}
			&#nuestronorte {
				animation: showBackNuestroNorte 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackNuestroNorte {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(50px, 50px);
					}
				}
			}
			&#wordle {
				animation: showBackWordle 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackWordle {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(70px, 50px);
					}
				}
			}
			&#yolo {
				animation: showBackYolo 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackYolo {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(-70px, 0px);
					}
				}
			}
			&#sicca {
				animation: showBackSicca 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackSicca {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(-50px, 0px);
					}
				}
			}
			&#positium {
				animation: showBackPositium 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackPositium {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(50px, 0px);
					}
				}
			}
			&#jrbs2007 {
				animation: showBackJrbs2007 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackJrbs2007 {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(70px, 0px);
					}
				}
			}
			&#perezbravo {
				animation: showBackPerezbravo 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBackPerezbravo {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(-70px, -50px);
					}
				}
			}
			&#plasticos {
				animation: showBasePlasticos 0.4s linear;
				animation-fill-mode: forwards;
				@keyframes showBasePlasticos {
					0% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					} 
					100% {
						transform: rotateY(180deg) scale(3, 2) translate(-50px, -50px);
			}			
		}
	}
		}
		.toClose {
			z-index: 1;
			.front{backface-visibility: visible;}
			.back{backface-visibility:hidden;}
			&.container:hover .front {
				animation: frontAnime 1s linear infinite;
				animation-fill-mode: backwards;
			}
			@keyframes frontAnime {
				0% {
					box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
					border-radius: 20px;
				}
				50% {
					box-shadow: 1px 1px 15px 2px rgb(6, 6, 6);
					border-radius: 20px;
				}
				100% {
					box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
					border-radius: 20px;
				}
			} 
			&#matic {
				animation: showFrontMatic 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontMatic {
					0% {
						transform:  rotateY(180deg) scale(3, 2) translate(-70px, 50px);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
					}
				}
			}
			&#brainbase {
				animation: showFrontBrainbase 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontBrainbase {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(-50px, 50px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}
			&#nuestronorte {
				animation: showFrontNuestroNorte 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontNuestroNorte {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(50px, 50px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}
			&#wordle {
				animation: showFrontWordle 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontWordle {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(70px, 50px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}
			&#yolo {
				animation: showFrontYolo 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontYolo {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(-70px, 0px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}
			&#sicca {
				animation: showFrontSicca 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontSicca {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(-50px, 0px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}
			&#positium {
				animation: showFrontPositium 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontPositium {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(50px, 0px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}
			&#jrbs2007 {
				animation: showFrontJrbs2007 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontJrbs2007 {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(70px, 0px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}
			&#perezbravo {
				animation: showFrontPerezbravo 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontPerezbravo {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(-70px, -50px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}
			&#plasticos {
				animation: showFrontPlasticos 0.6s linear;
				animation-fill-mode: forwards;
				@keyframes showFrontPlasticos {
					0% {
						transform: rotateY(180deg) scale(3, 2) translate(-50px, -50px);
						filter: blur(0) grayscale(0);
					}
					100% {
						transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
						filter: blur(0) grayscale(0);
					}
				}
			}	
		}
		.front {
			position: absolute;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden; /* Safari */
			img {
				width: 200px;
				height: 200px;
				border-radius: 10px;
			}		
		}
		.back {
			position: absolute;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden; /* Safari */
			transform: rotateY(180deg);	
			padding: 10px;
			background-color: rgb(255, 255, 255);
			border-radius: 10px;
			color: black;
			.close {
				color:rgb(255, 255, 255);
				margin: -10px -10px 0 0 ;
				background-color:  rgb(145, 147, 147);
				font-size: 7px;
				font-weight: 20px;
				float: right;
				padding: 4px;
				border-radius: 0% 50% 0% 20%;
			}
			.containerBack{
				height: 160px ;
				p {
					font-size: 7.5px;
					font-weight:700;
					text-align:left;
					word-break: normal;
					text-overflow: ellipsis;			
					overflow: hidden;
					max-width: 190px;
				}
			}
	
			a { 
				text-shadow: 0px 2px 5px  rgba(4, 4, 4, 0.399);
				text-decoration: none;
				font-size: 10px;
				color: rgb(145, 142, 142);
				float: right;
				&:hover {
					text-shadow: 0px 2px 10px  rgb(2, 2, 2);
					color: rgba(122, 117, 117, 0.806)
				}
			}

	
		}
		

	}
}


/* RESPONSIVE DESIGN FOR MOBILE */

/* HIGH RESOLUTION such as IPHONE 13Pro until mid range */


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 200px)
and (orientation: portrait)   {

	/***** Android Rules *******/
	@supports not (-webkit-touch-callout: none) { 
		.Portfolio{ //With 4 ROWS and stacking
			padding-top: 80px;
			height: 140vh;
			.Folders {
				padding: 50px 20px 0 30px;
				grid-template-columns: auto auto;
				gap: 10px;

				.container{
					width: 100px;
					height: 100px;			
				}
				.toOpen {
					z-index: 100;
					animation-duration: 5s;
					.front{backface-visibility: hidden;}
					.back{backface-visibility:visible;}
				
					
					&#matic {
						animation: showBackMatic 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackMatic {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform:  rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
							}
						}
					}
					&#brainbase {
						animation: showBackBrainbase 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackBrainbase {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
							}
						}
					}
					&#nuestronorte {
						animation: showBackNuestroNorte 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackNuestroNorte {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
							}
						}
					}
					&#wordle {
						animation: showBackWordle 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackWordle {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
							}
						}
					}
					&#yolo {
						animation: showBackYolo 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackYolo {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
							}
						}
					}
					&#sicca {
						animation: showBackSicca 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackSicca {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
							}
						}
					}
					&#positium {
						animation: showBackPositium 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackPositium {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
							}
						}
					}
					&#jrbs2007 {
						animation: showBackJrbs2007 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackJrbs2007 {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
							}
						}
					}
					&#perezbravo {
						animation: showBackPerezbravo 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackPerezbravo {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
							}
						}
					}
					&#plasticos {
						animation: showBasePlasticos 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBasePlasticos {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
					}			
				}
			}
				}
				.toClose {
					z-index: 1;
					.front{backface-visibility: visible;}
					.back{backface-visibility:hidden;}
					&.container:hover .front {
						animation: frontAnime 1s linear infinite;
						animation-fill-mode: backwards;
					}
					@keyframes frontAnime {
						0% {
							box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
							border-radius: 20px;
						}
						50% {
							box-shadow: 1px 1px 15px 2px rgb(6, 6, 6);
							border-radius: 20px;
						}
						100% {
							box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
							border-radius: 20px;
						}
					} 
					&#matic {
						animation: showFrontMatic 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontMatic {
							0% {
								transform:  rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							}
						}
					}
					&#brainbase {
						animation: showFrontBrainbase 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontBrainbase {
							0% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#nuestronorte {
						animation: showFrontNuestroNorte 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontNuestroNorte {
							0% {
								transform: rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#wordle {
						animation: showFrontWordle 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontWordle {
							0% {
								transform: rotateY(180deg) scale(2.7, 3)translate(23px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#yolo {
						animation: showFrontYolo 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontYolo {
							0% {
								transform: rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#sicca {
						animation: showFrontSicca 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontSicca {
							0% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#positium {
						animation: showFrontPositium 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPositium {
							0% {
								transform: rotateY(180deg) scale(2.7, 3)  translate(-30px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#jrbs2007 {
						animation: showFrontJrbs2007 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontJrbs2007 {
							0% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#perezbravo {
						animation: showFrontPerezbravo 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPerezbravo {
							0% {
								transform: rotateY(180deg) scale(2.7, 3) translate(-30px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#plasticos {
						animation: showFrontPlasticos 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPlasticos {
							0% {
								transform: rotateY(180deg) scale(2.7, 3) translate(23px, 35px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}	
				}				
			
				.front {
					img {
						width: 100px;
						height: 100px;
						border-radius: 10px;
					}		
				}
				.back {
					padding: 7px;
					backface-visibility: hidden;
					border-radius: 10px;
					.containerBack{
						height:77px;
						p {
							font-size: 3.5px;
							width: auto;
						}
					}
					a { 
						text-shadow: 0px 2px 5px  rgba(4, 4, 4, 0.399);
						font-size: 5px;
					}
				}
			}
		}
	}
	@supports (-webkit-touch-callout: none) {
		.Portfolio{ // ONLY 1 ROW
			padding-top: 80px;
			height: 360vh;
			.Folders {
				padding: 50px 0px 0 90px;
				grid-template-columns: auto ;
				gap: 40px;
	
				.container{
						width: 225px;
						height: 225px;	
					}
				.toOpen {
					
					&#matic, &#brainbase, &#nuestronorte, 
					&#wordle, &#yolo, &#sicca, &#positium,
					&#jrbs2007, &#perezbravo, &#plasticos  {
						animation: showBack 0.4s linear;
						animation-fill-mode: forwards;
						
						@keyframes showBack {
							0% {
								transform: rotateY(0deg) scale(1, 1);
							} 
							100% {
								transform:  rotateY(180deg) scale(1.5, 1.2);
							}							}	
					}		
				}
				.toClose {
					@keyframes frontAnime {
						0% {
							box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
							border-radius: 20px;
						}
						50% {
							box-shadow: 1px 1px 15px 2px rgb(6, 6, 6);
							border-radius: 20px;
						}
						100% {
							box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
							border-radius: 20px;
						}
					} 

					&#matic, &#brainbase, &#nuestronorte, 
					&#wordle, &#yolo, &#sicca, &#positium,
					&#jrbs2007, &#perezbravo, &#plasticos {
						animation: showFront 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFront {
							0% {
								transform:  rotateY(180deg) scale(1.5, 1.2);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1);
							}
						}
					}

				}
				.front {
					img {
						width: 225px;
						height: 225px;
						border-radius: 10px;
					}		
				}
				.back {
					padding: 10px;
					.containerBack{
						height: 180px ;
						p {
							font-size: 8px;
							max-width: 200px;
						}
					}
					a { 
						text-shadow: 0px 2px 5px  rgba(4, 4, 4, 0.399);
						font-size: 10px;
					}
				}		
			}
		}
	}
}

@media  only screen 
  and (min-width : 360px)
  and (orientation: portrait)   {

	/***** Android Rules *******/
	@supports not (-webkit-touch-callout: none) { 
		.Portfolio{ //With 4 ROWS and stacking
			padding-top: 50px;
			height: 80vh;
			.Folders {
				padding: 50px 20px 0 10px;
				grid-template-columns: auto auto auto;
				gap: 10px;

				.container{
					width: 100px;
					height: 100px;	
				}
				.toOpen {
					z-index: 100;
					animation-duration: 5s;
					.front{backface-visibility: hidden;}
					.back{backface-visibility:visible;}
				
					
					&#matic {
						animation: showBackMatic 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackMatic {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform:  rotateY(180deg) scale(3, 4) translate(-40px, 40px);
							}
						}
					}
					&#brainbase {
						animation: showBackBrainbase 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackBrainbase {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(0px, 40px);
							}
						}
					}
					&#nuestronorte {
						animation: showBackNuestroNorte 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackNuestroNorte {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 40px);
							}
						}
					}
					&#wordle {
						animation: showBackWordle 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackWordle {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg)  scale(3, 4) translate(-40px, 20px);
							}
						}
					}
					&#yolo {
						animation: showBackYolo 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackYolo {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg)  scale(3, 4) translate(0px, 20px);
							}
						}
					}
					&#sicca {
						animation: showBackSicca 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackSicca {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 20px);
							}
						}
					}
					&#positium {
						animation: showBackPositium 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackPositium {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(-40px, 0px);
							}
						}
					}
					&#jrbs2007 {
						animation: showBackJrbs2007 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackJrbs2007 {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg)  scale(3, 4) translate(0px, 0px);
							}
						}
					}
					&#perezbravo {
						animation: showBackPerezbravo 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackPerezbravo {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 0px);
							}
						}
					}
					&#plasticos {
						animation: showBasePlasticos 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBasePlasticos {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(-40px, -30px);
					}			
				}
			}
				}
				.toClose {
					z-index: 1;
					.front{backface-visibility: visible;}
					.back{backface-visibility:hidden;}
					&.container:hover .front {
						animation: frontAnime 1s linear infinite;
						animation-fill-mode: backwards;
					}
					@keyframes frontAnime {
						0% {
							box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
							border-radius: 20px;
						}
						50% {
							box-shadow: 1px 1px 15px 2px rgb(6, 6, 6);
							border-radius: 20px;
						}
						100% {
							box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
							border-radius: 20px;
						}
					} 
					&#matic {
						animation: showFrontMatic 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontMatic {
							0% {
								transform:  rotateY(180deg) scale(3, 4) translate(-40px, 40px);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							}
						}
					}
					&#brainbase {
						animation: showFrontBrainbase 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontBrainbase {
							0% {
								transform: rotateY(180deg) scale(3, 4) translate(0px, 40px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#nuestronorte {
						animation: showFrontNuestroNorte 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontNuestroNorte {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(40px, 40px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#wordle {
						animation: showFrontWordle 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontWordle {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(-40px, 20px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#yolo {
						animation: showFrontYolo 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontYolo {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(0px, 20px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#sicca {
						animation: showFrontSicca 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontSicca {
							0% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 20px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#positium {
						animation: showFrontPositium 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPositium {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(-40px, 0px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#jrbs2007 {
						animation: showFrontJrbs2007 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontJrbs2007 {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#perezbravo {
						animation: showFrontPerezbravo 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPerezbravo {
							0% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 0px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#plasticos {
						animation: showFrontPlasticos 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPlasticos {
							0% {
								transform: rotateY(180deg) scale(3, 4) translate(-40px, -30px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}	
				}				
			

				.front {
						img {
							width: 100px;
							height: 100px;
							border-radius: 10px;
						}		
				}
				.back {
						padding: 7px;
						backface-visibility: hidden;
						border-radius: 10px;
						.containerBack{
							height:77px;
							p {
								font-size: 3.5px;
								width: auto;
							}
						}
						a { 
							text-shadow: 0px 2px 5px  rgba(4, 4, 4, 0.399);
							font-size: 5px;
						}
				}
			}
		}
	}
	/***** ios Rules *******/
	@supports (-webkit-touch-callout: none) {
			.Portfolio{ // ONLY 1 ROW
				padding-top: 80px;
				height: 460vh;
				.Folders {
					padding: 50px 0px 0 70px;
					grid-template-columns: auto ;
					gap: 40px;
	
					.container{
						width: 225px;
						height: 225px;	
					}
					.toOpen {
					
						&#matic, &#brainbase, &#nuestronorte, 
						&#wordle, &#yolo, &#sicca, &#positium,
						&#jrbs2007, &#perezbravo, &#plasticos  {
							animation: showBack 0.4s linear;
							animation-fill-mode: forwards;
						
							@keyframes showBack {
								0% {
									transform: rotateY(0deg) scale(1, 1);
								} 
								100% {
									transform:  rotateY(180deg) scale(1.5, 1.2);
								}
							}	
						}		
					}
					.toClose {
						@keyframes frontAnime {
							0% {
								box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
								border-radius: 20px;
							}
							50% {
								box-shadow: 1px 1px 15px 2px rgb(6, 6, 6);
								border-radius: 20px;
							}
							100% {
								box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
								border-radius: 20px;
							}
						} 

						&#matic, &#brainbase, &#nuestronorte, 
						&#wordle, &#yolo, &#sicca, &#positium,
						&#jrbs2007, &#perezbravo, &#plasticos {
							animation: showFront 0.6s linear;
							animation-fill-mode: forwards;
							@keyframes showFront {
								0% {
									transform:  rotateY(180deg) scale(1.5, 1.2);
								}
								100% {
									transform: rotateY(0deg) scale(1, 1);
								}
							}
						}

					}
					.front {
						img {
							width: 225px;
							height: 225px;
							border-radius: 10px;
						}		
					}
					.back {
						padding: 10px;
						.containerBack{
							height: 180px ;
							p {
								font-size: 8px;
								max-width: 200px;
							}
						}
						a { 
							text-shadow: 0px 2px 5px  rgba(4, 4, 4, 0.399);
							font-size: 10px;
						}
					}
				}
			}
	}  
}  

  @media  only screen 
  and (min-width : 380px)
  and (orientation: portrait)   {
	/***** Android Rules *******/
	@supports not (-webkit-touch-callout: none) { 
		.Portfolio{ //With 4 ROWS and stacking
			padding-top: 50px;
			height: 80vh;
			.Folders {
				padding: 60px 30px 0 30px;
				grid-template-columns: auto auto auto;
				gap: 10px;

				.container{
					width: 100px;
					height: 100px;	
				}
				.toOpen {
					z-index: 100;
					animation-duration: 5s;
					.front{backface-visibility: hidden;}
					.back{backface-visibility:visible;}
				
					
					&#matic {
						animation: showBackMatic 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackMatic {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform:  rotateY(180deg) scale(3, 4) translate(-40px, 40px);
							}
						}
					}
					&#brainbase {
						animation: showBackBrainbase 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackBrainbase {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(0px, 40px);
							}
						}
					}
					&#nuestronorte {
						animation: showBackNuestroNorte 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackNuestroNorte {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 40px);
							}
						}
					}
					&#wordle {
						animation: showBackWordle 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackWordle {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg)  scale(3, 4) translate(-40px, 20px);
							}
						}
					}
					&#yolo {
						animation: showBackYolo 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackYolo {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg)  scale(3, 4) translate(0px, 20px);
							}
						}
					}
					&#sicca {
						animation: showBackSicca 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackSicca {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 20px);
							}
						}
					}
					&#positium {
						animation: showBackPositium 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackPositium {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(-40px, 0px);
							}
						}
					}
					&#jrbs2007 {
						animation: showBackJrbs2007 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackJrbs2007 {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg)  scale(3, 4) translate(0px, 0px);
							}
						}
					}
					&#perezbravo {
						animation: showBackPerezbravo 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBackPerezbravo {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 0px);
							}
						}
					}
					&#plasticos {
						animation: showBasePlasticos 0.4s linear;
						animation-fill-mode: forwards;
						@keyframes showBasePlasticos {
							0% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							} 
							100% {
								transform: rotateY(180deg) scale(3, 4) translate(-40px, -30px);
					}			
				}
			}
				}
				.toClose {
					z-index: 1;
					.front{backface-visibility: visible;}
					.back{backface-visibility:hidden;}
					&.container:hover .front {
						animation: frontAnime 1s linear infinite;
						animation-fill-mode: backwards;
					}
					@keyframes frontAnime {
						0% {
							box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
							border-radius: 20px;
						}
						50% {
							box-shadow: 1px 1px 15px 2px rgb(6, 6, 6);
							border-radius: 20px;
						}
						100% {
							box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
							border-radius: 20px;
						}
					} 
					&#matic {
						animation: showFrontMatic 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontMatic {
							0% {
								transform:  rotateY(180deg) scale(3, 4) translate(-40px, 40px);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
							}
						}
					}
					&#brainbase {
						animation: showFrontBrainbase 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontBrainbase {
							0% {
								transform: rotateY(180deg) scale(3, 4) translate(0px, 40px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#nuestronorte {
						animation: showFrontNuestroNorte 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontNuestroNorte {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(40px, 40px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#wordle {
						animation: showFrontWordle 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontWordle {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(-40px, 20px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#yolo {
						animation: showFrontYolo 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontYolo {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(0px, 20px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#sicca {
						animation: showFrontSicca 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontSicca {
							0% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 20px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#positium {
						animation: showFrontPositium 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPositium {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(-40px, 0px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#jrbs2007 {
						animation: showFrontJrbs2007 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontJrbs2007 {
							0% {
								transform: rotateY(180deg)  scale(3, 4) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#perezbravo {
						animation: showFrontPerezbravo 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPerezbravo {
							0% {
								transform: rotateY(180deg) scale(3, 4) translate(40px, 0px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}
					&#plasticos {
						animation: showFrontPlasticos 0.6s linear;
						animation-fill-mode: forwards;
						@keyframes showFrontPlasticos {
							0% {
								transform: rotateY(180deg) scale(3, 4) translate(-40px, -30px);
								filter: blur(0) grayscale(0);
							}
							100% {
								transform: rotateY(0deg) scale(1, 1) translate(0px, 0px);
								filter: blur(0) grayscale(0);
							}
						}
					}	
				}				
	
				.front {
						img {
							width: 100px;
							height: 100px;
							border-radius: 10px;
						}		
				}
				.back {
						padding: 7px;
						backface-visibility: hidden;
						border-radius: 10px;
						.containerBack{
							height:77px;
							p {
								font-size: 3.5px;
								width: auto;
							}
						}
						a { 
							text-shadow: 0px 2px 5px  rgba(4, 4, 4, 0.399);
							font-size: 5px;
						}
				}
			}
		}
	}
	/***** ios Rules *******/
	@supports (-webkit-touch-callout: none) {
		.Portfolio{ // ONLY 1 ROW
				padding-top: 80px;
				height: 360vh;
				.Folders {
					padding: 50px 0px 0 90px;
					grid-template-columns: auto ;
					gap: 40px;
	
					.container{
						width: 225px;
						height: 225px;	
					}
					.toOpen {
					
						&#matic, &#brainbase, &#nuestronorte, 
						&#wordle, &#yolo, &#sicca, &#positium,
						&#jrbs2007, &#perezbravo, &#plasticos  {
							animation: showBack 0.4s linear;
							animation-fill-mode: forwards;
						
							@keyframes showBack {
								0% {
									transform: rotateY(0deg) scale(1, 1);
								} 
								100% {
									transform:  rotateY(180deg) scale(1.5, 1.2);
								}
							}	
						}		
					}
					.toClose {
						@keyframes frontAnime {
							0% {
								box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
								border-radius: 20px;
							}
							50% {
								box-shadow: 1px 1px 15px 2px rgb(6, 6, 6);
								border-radius: 20px;
							}
							100% {
								box-shadow: 1px 1px 15px 2px rgb(5, 160, 216);
								border-radius: 20px;
							}
						} 

						&#matic, &#brainbase, &#nuestronorte, 
						&#wordle, &#yolo, &#sicca, &#positium,
						&#jrbs2007, &#perezbravo, &#plasticos {
							animation: showFront 0.6s linear;
							animation-fill-mode: forwards;
							@keyframes showFront {
								0% {
									transform:  rotateY(180deg) scale(1.5, 1.2);
								}
								100% {
									transform: rotateY(0deg) scale(1, 1);
								}
							}
						}

					}
					.front {
						img {
							width: 225px;
							height: 225px;
							border-radius: 10px;
						}		
					}
					.back {
						padding: 10px;
						.containerBack{
							height: 180px ;
							p {
								font-size: 8px;
								max-width: 200px;
							}
						}
						a { 
							text-shadow: 0px 2px 5px  rgba(4, 4, 4, 0.399);
							font-size: 10px;
						}
					}
				}
		}
	}  
}

/****** LANDSCAPE *************/

@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: landscape)  {

}


/* TABLES RESOLUTIONS  Tables, Galaxy Flod2 etc.. */ 


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: portrait)   {

}

/****** LANDSCAPE *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: landscape)   {

}


