.Home {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding-top: 5px;
	@media  only screen 
	and (min-width : 1800px){
		height: 110vh;
	}
	.welcome {
		margin-top:250px;
		text-align: center;
		font-size: 5vw;
		// font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		// color: #f27c06a3;
		// text-shadow: 5px 2px 40px rgb(254, 253, 251);
		font-family: 'Anton', sans-serif;
		
		span {
			display:inline-block;
			font-size: 5vw;
			font-family: Hack, monospace;
			line-height: 0.4;
			color: #0b0b0b00;
			&:hover {
				transform: scale(1.5);
			}
			&.spanEmpty {
				margin-right: 20px;
			}	
			@keyframes jump {
				10%, 35% {
				  transform: scale(2, .2) translate(0, 0);
				}
				
				45%, 50% {
				  transform: scale(1) translate(0, -150px);
				}
				
				80% {
				  transform: scale(1) translate(0, 0);
				}
			}	
			@keyframes falling {
				12% {
				  transform: rotateX(240deg);
				}
				
				24% {
					transform: rotateX(150deg);
				}
				
				36% {
				  transform: rotateX(200deg);
				}
				
				48% {
				  transform: rotateX(175deg);
				}
					
				60%, 85% {
					transform: rotateX(180deg);
				}
					
				100% {
				  transform: rotateX(0deg);
				}
			}
			@keyframes rotate {
				20%, 80% {
				  transform: rotateY(180deg);
				}
					
				100% {
				  transform: rotateY(360deg);
				}
			}	
		}
		@media  only screen 
		and (min-width : 1800px){
			margin-top:350px;
		}
	}
	#name {
		font-size: 3vw;
		margin: -10vh 0  0 10vw;
		animation-fill-mode: forwards;
		animation-delay: 3s;
	
		@media  only screen 
		and (min-width : 1800px){
			margin: 1vh 0  0 10vw;
		}
	}
	#title { 
		margin-left: 10vw;
		animation: titleAnimation 2s ease-out;
		animation-fill-mode: forwards;
		animation-delay: 3s;
		color: rgba(8, 8, 8, 0);
	}
	#picture img {
		width: 300px;
		height: auto;
		margin-left: 800px;
		margin-top: -170px;
		border-radius: 50%;
		@media  only screen 
		and (min-width : 1800px){
			width: 380px;
			height: auto;
			margin-left: 1300px;
			margin-top: -200px;
		}

	}
	#circle { 
		width: 300px;
		margin-left: 800px;
		margin-top: -298px;
		height: 300px;
		visibility: hidden;
		animation-fill-mode: forwards;
		box-shadow: 0.1px 0.5px 1px 0 rgb(154, 160, 160);
		@media  only screen 
		and (min-width : 1800px){
			width: 380px;
			height: 380px;
			margin-left: 1300px;
			margin-top: -377px;
		}
	}
	#arrow img {
		width: 1.5vw;
		height: auto;
		border-radius: 50%;
		position: absolute;
		margin: 145px 0 -20px 600px ;
		visibility: hidden;
		animation: arrow 2s ease-out;
		animation-fill-mode: forwards;
		animation-delay: 4s;
		box-shadow: 0px -2px 20px 0px #05b9d4;
		@media  only screen 
		and (min-width : 1800px){
			margin: 160px 0 -20px 900px ;
		}
	}

	#switch  {
		margin-left: 10vw;
		img {
			width: 30px;
			height: auto;
			border-radius: 5%;
			position: absolute;
			filter: opacity(0);
			animation: switch 1.5s linear  ;
			animation-fill-mode: forwards;
			animation-delay: 6s;
		}


	}

	.nameContainer {
	}
	@keyframes titleAnimation {
		0% {
		    transform: scaleY(0);
			color: rgba(4, 4, 4, 0);
		}
		50% {
		    transform:  scaleY(4);;
			color: #f8fcfc;
		}
		100% {
			transform:  scaleY(1);
			color: #05b9d4;
		}
	} 

	@keyframes arrow {
		0% {
			visibility: visible;
			opacity: 0%;
			border-radius: 50%;
			box-shadow: 0.1px 0.5px 35px 0px #05b9d4;
		}
		60% {
			border-radius: 40%;
			box-shadow: 0.1px 1px 60px 0px rgb(255, 255, 255);	
		}
		100% {
			visibility: visible;
			opacity: 100%;
			border-radius: 50%;
			box-shadow: 0.1px 0.5px 25px 0px #05b9d4;
		}
	} 
	@keyframes switch {
		0% {
			filter: opacity(1);
			transform-origin: left;
			transform: translate(-200px, -800px) rotate(0deg);
		}
		10% {
			transform: translate(-150px, -500px) rotate(20deg);
			
		}
		20% {
			transform: translate(-100px, 0px) rotate(100deg);
		}
		30% {
			transform: translate(-80px, -100px) rotate(150deg);
		}
		40% {
			transform: translate(-60px, 0px) rotate(200deg);
		}
		50% {
			transform:translate(-50px,-50px) rotate(250deg);
		}
		60% {
			transform:translate(-30px,0px) rotate(300deg);
		}
		70% {
			transform:translate(-25px,-20px) rotate(360deg);
		}
		80% {
			transform:translate(-15px,0px) rotate(-5deg);
		}
		90% {
			transform:translate(5px,-5px) rotate(0deg);
		}
		100% {
			filter: opacity(1);
			transform:translate(0px, 0px);
		}
	} 
	@keyframes reveal {
		0% {
			visibility: visible;
			border-radius: 47%;
			  transform: rotate(0deg);
		}
	  
		100% {
			border-radius: 50%;
			visibility: visible;
			  transform: rotate(360deg);
		}
	}
}
.On {
	#name {
		color: rgba(52, 51, 51, 0.803);
		animation: nameAnimationOn 2s linear;
		
		@keyframes nameAnimationOn {
			0% {
			color: rgba(4, 4, 4, 0);
			}
			50% {
				color: #05b8d49c;
			}
			100% {
				color: rgba(90, 87, 87, 0.934);
			}
		} 
	}
	#circle {
		animation: imgAnimationHoverOn 5s linear 3800ms infinite,
		reveal 6s linear 100ms infinite;

		@keyframes imgAnimationHoverOn {
			0% {
				border-radius: 50%;
				box-shadow: 0.1px 0.5px 5px 0px #554d33fa;
			}
			50% {
				border-radius: 50%;
				box-shadow: 0.1px 1px 10px 1px rgba(24, 197, 235, 0.649);	
			}
			100% {
				border-radius: 50%;
				box-shadow: 0.1px 0.5px 5px 0px #554d33fa;
			}
		} 

	}
	#picture img {
		box-shadow: 0px -2px 20px 0px #3c3d3f;
		animation: imgAnimationOn 2s ease-out;
		visibility: hidden;
		animation-fill-mode: forwards;
		animation-delay: 4s;
		@keyframes imgAnimationOn {
		
			0% {
				visibility: visible;
				filter:grayscale(100%) blur(105px);
			}
			60% {
				visibility: visible;
				filter: grayscale(50%) blur(70px);
			}
			100% {
				visibility: visible;
				filter:grayscale(0%) blur(0px);
			}
		} 
	}
	.welcome span {

		color: #ffffff;

		@keyframes toplongOn {
			0% {
			//  transform: scaleY(2);
			  color: rgba(255, 255, 255, 0.748);
			}
			
			60% {
			//  transform:  scaleY(1);
			   color: rgba(7, 7, 7, 0.748);
			}
			100% {
				color: #ffffff
			}
		} 

		&:nth-child(1){
			animation: toplongOn 2s ease-out;
			animation-delay: 0.1
		}
		&:nth-child(2) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 0.2s;
		}	
		&:nth-child(3) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 0.3s;
		}	
		&:nth-child(4) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 0.4s;
		}	
		&:nth-child(5) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 0.5s;
		}	
		&:nth-child(6) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 0.6s;
		}	
		&:nth-child(7) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 0.7s;
		}	
		&:nth-child(8) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 0.8s;
		}	
		&:nth-child(9) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 0.9s;
		}	
		&:nth-child(10) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1s;
		}	
		&:nth-child(11) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.1s;
		}	
		&:nth-child(12) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.2s;
		}	
		&:nth-child(13) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.3s;
		}	
		&:nth-child(14) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.4s;
		}	
		&:nth-child(15) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.5s;
		}	
		&:nth-child(16) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.6s;
		}	
		&:nth-child(17) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.7s;
		}	
		&:nth-child(18) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.8s;
		}	
		&:nth-child(19) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 1.9s;
		}	
		&:nth-child(20) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 2s;
		}	
		&:nth-child(21) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 2.1s;
		}	
		&:nth-child(22) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 2.2s;
		}	
		&:nth-child(23) {
			animation: toplongOn 2s ease-in-out;
			animation-delay: 2.3s;
		}	

	}
	
}
.Off {
	#name {
		color: rgba(225, 222, 219, 0.768);
		animation: nameAnimationOff 2s linear;	
		
		@keyframes nameAnimationOff {
			0% {
			color: rgba(4, 4, 4, 0);
			}
			50% {
				color: #05b8d49c;
			}
			100% {
				color: rgba(225, 222, 219, 0.768);
			}
		} 
	}
	#circle {
		animation: imgAnimationHoverOff 5s linear 3800ms infinite,
		reveal 6s linear 100ms infinite  ;
		
		@keyframes imgAnimationHoverOff {
			0% {
				border-radius: 50%;
				box-shadow: 0.1px 0.5px 5px 0px #05b9d4;
			}
			60% {
				border-radius: 40%;
				box-shadow: 0.1px 1px 20px 0px rgb(255, 255, 255);	
			}
			100% {
				border-radius: 50%;
				box-shadow: 0.1px 0.5px 5px 0px #05b9d4;
			}
		} 

	}
	#picture img {
		box-shadow: 0px -2px 20px 0px #05b9d4;
		animation: imgAnimation 2s ease-out;
		visibility: hidden;
		animation-fill-mode: forwards;
		animation-delay: 4s;
		@keyframes imgAnimation {
		
			0% {
				visibility: visible;
				filter:grayscale(100%) blur(105px);
			}
			60% {
				visibility: visible;
				filter: grayscale(50%) blur(70px);
			}
			100% {
				visibility: visible;
				filter:grayscale(0%) blur(0px);
			}
		} 
	}
	.welcome span {

		color: #000000;

		@keyframes toplong {
			0% {
			//  transform: scaleY(2);
			  color: rgba(255, 255, 255, 0.748);
			}
			
			60% {
			//  transform:  scaleY(1);
			   color: rgba(7, 7, 7, 0.748);
			}
			100% {
				color: #f9f7f7
			}
		} 

		&:nth-child(1){
			animation: toplong 2s ease-out;
			animation-delay: 0.1
		}
		&:nth-child(2) {
			animation: toplong 2s ease-in-out;
			animation-delay: 0.2s;
		}	
		&:nth-child(3) {
			animation: toplong 2s ease-in-out;
			animation-delay: 0.3s;
		}	
		&:nth-child(4) {
			animation: toplong 2s ease-in-out;
			animation-delay: 0.4s;
		}	
		&:nth-child(5) {
			animation: toplong 2s ease-in-out;
			animation-delay: 0.5s;
		}	
		&:nth-child(6) {
			animation: toplong 2s ease-in-out;
			animation-delay: 0.6s;
		}	
		&:nth-child(7) {
			animation: toplong 2s ease-in-out;
			animation-delay: 0.7s;
		}	
		&:nth-child(8) {
			animation: toplong 2s ease-in-out;
			animation-delay: 0.8s;
		}	
		&:nth-child(9) {
			animation: toplong 2s ease-in-out;
			animation-delay: 0.9s;
		}	
		&:nth-child(10) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1s;
		}	
		&:nth-child(11) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.1s;
		}	
		&:nth-child(12) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.2s;
		}	
		&:nth-child(13) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.3s;
		}	
		&:nth-child(14) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.4s;
		}	
		&:nth-child(15) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.5s;
		}	
		&:nth-child(16) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.6s;
		}	
		&:nth-child(17) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.7s;
		}	
		&:nth-child(18) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.8s;
		}	
		&:nth-child(19) {
			animation: toplong 2s ease-in-out;
			animation-delay: 1.9s;
		}	
		&:nth-child(20) {
			animation: toplong 2s ease-in-out;
			animation-delay: 2s;
		}	
		&:nth-child(21) {
			animation: toplong 2s ease-in-out;
			animation-delay: 2.1s;
		}	
		&:nth-child(22) {
			animation: toplong 2s ease-in-out;
			animation-delay: 2.2s;
		}	
		&:nth-child(23) {
			animation: toplong 2s ease-in-out;
			animation-delay: 2.3s;
		}	



		@keyframes toplong {
			0% {
			//  transform: scaleY(2);
			  color: rgba(255, 255, 255, 0.748);
			}
			
			40%, 60% {
			//  transform:  scaleY(1);
			   color: rgba(255, 255, 255, 0.748);
			}
			100% {
				color: #0b0b0b00
			}
		} 
	}
 }

/* RESPONSIVE DESIGN FOR MOBILE */

/* HIGH RESOLUTION such as IPHONE 13Pro until mid range */


/****** PORTRAIT *************/

@media  only screen 
and (min-width : 200px)
and (orientation: portrait)   {
	.Home {
		padding-top: -7vh;
		.welcome  {
			margin-top:170px;
			padding: 0 25px;
			span {
				font-size: 30px;
			}
		}
		#name {
			font-size: 30px;
			margin: 15vh 0  0 8vw;
		
		}
		#title { 
			margin-left: 8vw;
		}
		#picture img {
			width: 140px;
			margin: -140px 0 0 150px;
		}
		#circle {
			width: 140px;
			height: 140px;
			margin: -140px 0 0 150px;
		}
		#arrow {
			margin: 0px 0 -20px 15px ;
		}
		#switch {
			margin-left: 7vw;
		}
	}
  }

@media  only screen 
and (min-width : 360px)
and (orientation: portrait)   {
	.Home {
		padding-top: -7vh;
		.welcome  {
			padding: 30px 25px;
			span {
				font-size: 40px;
			}
		}
		#name {
			font-size: 30px;
			margin: 15vh 0  0 8vw;
		
		}
		#picture img {
			width: 200px;
			margin: -180px 0 0 150px;
		}
		#circle {
			width: 200px;
			height: 200px;
			margin: -200px 0 0 150px;
		}
		#arrow {
			margin: -50px 0 -20px 15px ;
		}
		#switch {
			margin-left: 7vw;
		}
	}
  }

@media  only screen 
  and (min-width : 380px)
  and (orientation: portrait)   {
	  .Home {
		  padding-top: -7vh;
		  .welcome  {
			  padding: 50px 25px;
			  span {
				  font-size: 40px;
			  }
		  }
		  #name {
			  font-size: 30px;
			  margin: 15vh 0  0 8vw;
		  
		  }
		  #picture img {
			  width: 240px;
			  margin: -180px 0 0 100px;
		  }
		  #circle {
			  width: 240px;
			  height: 240px;
			  margin: -240px 0 0 100px;
		  }
		  #arrow {
			  margin: -50px 0 -20px 15px ;
		  }
		  #switch {
			margin-left: 7vw;
		}
	
	  }
	}  

@media  only screen 
  and (min-width : 768px)
  and (max-width : 1366px)
  and (orientation: portrait) {
	.Home {
		padding-top: 10vh;
		.welcome  {
			padding: 50px 25px;
			span {
				font-size: 50px;
		  	}
	  	}
		#name {
			font-size: 30px;
			margin: 15vh 0  0 8vw;
		}
		#picture img {
			width: 240px;
		  	margin: -180px 0 0 500px;
		}
		#circle {
			width: 240px;
		  	height: 240px;
			margin: -240px 0 0 500px;
		}
		#arrow {
			margin: -50px 0 -20px 15px ;
		}
		#switch {
			margin-left: 8vw;
		}
	}
} 

/****** LANDSCAPE *************/

@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: landscape)  {

}


/* TABLES RESOLUTIONS  Tables, Galaxy Flod2 etc.. */ 


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: portrait)   {

}

/****** LANDSCAPE *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: landscape)   {

}