.Home {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding-top: 5px;
	.welcome {
		margin-top: 30vh;
		text-align: center;
		font-size: 5vw;
		// font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		// color: #f27c06a3;
		// text-shadow: 5px 2px 40px rgb(254, 253, 251);
		font-family: 'Anton', sans-serif;
		
		span {
			display:inline-block;
			font-size: 5vw;
			font-family: Hack, monospace;
			line-height: 0.4;
			color: #0b0b0b00;
			&:hover {
				transform: scale(1.5);
			}
			
			&.spanEmpty {
				margin-right: 20px;
			}
			&:nth-child(1){
				animation: toplong 2s ease-out;
				animation-delay: 0.1
				// 	0% {
				// 	  transform: translateY(-50vw);
				// 	}
					
				// 	 100% {
				// 	  transform: translateY(0);
				// 	}
			}
			&:nth-child(2) {
				animation: toplong 2s ease-in-out;
				animation-delay: 0.2s;
			}	
			&:nth-child(3) {
				animation: toplong 2s ease-in-out;
				animation-delay: 0.3s;
			}	
			&:nth-child(4) {
				animation: toplong 2s ease-in-out;
				animation-delay: 0.4s;
			}	
			&:nth-child(5) {
				animation: toplong 2s ease-in-out;
				animation-delay: 0.5s;
			}	
			&:nth-child(6) {
				animation: toplong 2s ease-in-out;
				animation-delay: 0.6s;
			}	
			&:nth-child(7) {
				animation: toplong 2s ease-in-out;
				animation-delay: 0.7s;
			}	
			&:nth-child(8) {
				animation: toplong 2s ease-in-out;
				animation-delay: 0.8s;
			}	
			&:nth-child(9) {
				animation: toplong 2s ease-in-out;
				animation-delay: 0.9s;
			}	
			&:nth-child(10) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1s;
			}	
			&:nth-child(11) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.1s;
			}	
			&:nth-child(12) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.2s;
			}	
			&:nth-child(13) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.3s;
			}	
			&:nth-child(14) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.4s;
			}	
			&:nth-child(15) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.5s;
			}	
			&:nth-child(16) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.6s;
			}	
			&:nth-child(17) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.7s;
			}	
			&:nth-child(18) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.8s;
			}	
			&:nth-child(19) {
				animation: toplong 2s ease-in-out;
				animation-delay: 1.9s;
			}	
			&:nth-child(20) {
				animation: toplong 2s ease-in-out;
				animation-delay: 2s;
			}	
			&:nth-child(21) {
				animation: toplong 2s ease-in-out;
				animation-delay: 2.1s;
			}	
			&:nth-child(22) {
				animation: toplong 2s ease-in-out;
				animation-delay: 2.2s;
			}	
			&:nth-child(23) {
				animation: toplong 2s ease-in-out;
				animation-delay: 2.3s;
			}	


			@keyframes jump {
				10%, 35% {
				  transform: scale(2, .2) translate(0, 0);
				}
				
				45%, 50% {
				  transform: scale(1) translate(0, -150px);
				}
				
				80% {
				  transform: scale(1) translate(0, 0);
				}
			}	
			@keyframes falling {
				12% {
				  transform: rotateX(240deg);
				}
				
				24% {
					transform: rotateX(150deg);
				}
				
				36% {
				  transform: rotateX(200deg);
				}
				
				48% {
				  transform: rotateX(175deg);
				}
					
				60%, 85% {
					transform: rotateX(180deg);
				}
					
				100% {
				  transform: rotateX(0deg);
				}
			}
			@keyframes rotate {
				20%, 80% {
				  transform: rotateY(180deg);
				}
					
				100% {
				  transform: rotateY(360deg);
				}
			}
			@keyframes toplong {
				0% {
				//  transform: scaleY(2);
				  color: rgba(255, 255, 255, 0.748);
				}
				
				40%, 60% {
				//  transform:  scaleY(1);
				   color: rgba(255, 255, 255, 0.748);
				}
				100% {
					color: #0b0b0b00
				}
			} 
		}
	}
	#name {
		font-size: 3vw;
		margin: -10vh 0  0 10vw;
		animation: nameAnimation 2s linear;
		animation-fill-mode: forwards;
		animation-delay: 3s;
		color: rgba(8, 8, 8, 0);
	}
	#title { 
		margin-left: 10vw;
		animation: titleAnimation 2s ease-out;
		animation-fill-mode: forwards;
		animation-delay: 3s;
		color: rgba(8, 8, 8, 0);
	}
	#picture img {
		width: 25vw;
		margin: -25vh 0 0 60vw;
		visibility: hidden;
		animation: imgAnimation 2s ease-out;
		animation-fill-mode: forwards;
		animation-delay: 4s;
		border-radius: 50%;
		box-shadow: 0px -2px 20px 0px #05b9d4;;

	}
	#circle { 
		width: 25vw;
		z-index: 10;
		margin: -45vh 0 0 60vw;
		height: 25vw;
		visibility: hidden;
		animation-fill-mode: forwards;
		animation: imgAnimationHover 5s linear 3800ms infinite,
		reveal 6s linear 100ms infinite  ;
		box-shadow: 0.1px 0.5px 25px 0 rgb(154, 160, 160);
	}
	#arrow img {
		width: 1.5vw;
		border-radius: 50%;
		position: absolute;
		margin: 25vh 0 -20px 47vw ;
		visibility: hidden;
		animation: arrow 2s ease-out;
		animation-fill-mode: forwards;
		animation-delay: 4s;
		box-shadow: 0px -2px 20px 0px #05b9d4;;
	}


	@keyframes nameAnimation {
		0% {
		//  transform: scaleY(2);
		  color: rgba(4, 4, 4, 0);
		}
		50% {
		//  transform:  scaleY(1);
			color: #05b8d49c;
		}
		100% {
			color: rgba(255, 255, 255, 0.748);
		}
	} 
	@keyframes titleAnimation {
		0% {
		    transform: scaleY(0);
			color: rgba(4, 4, 4, 0);
		}
		50% {
		    transform:  scaleY(4);;
			color: #f8fcfc;
		}
		100% {
			transform:  scaleY(1);
			color: #05b9d4;
		}
	} 
	@keyframes imgAnimation {
		
		0% {
		    visibility: visible;
			filter:grayscale(100%) blur(105px);
		}
		60% {
			visibility: visible;
			filter: grayscale(50%) blur(70px);
		}
		100% {
			visibility: visible;
			filter:grayscale(0%) blur(0px);
		}
	} 
	@keyframes imgAnimationHover {
		0% {
			border-radius: 50%;
			box-shadow: 0.1px 0.5px 35px 0px #05b9d4;
		}
		60% {
			border-radius: 40%;
			box-shadow: 0.1px 1px 60px 0px rgb(255, 255, 255);	
		}
		100% {
			border-radius: 50%;
			box-shadow: 0.1px 0.5px 25px 0px #05b9d4;
		}
	} 
	@keyframes reveal {
		0% {
			visibility: visible;
			border-radius: 47%;
		  	transform: rotate(0deg);
		}
	  
		100% {
			border-radius: 50%;
			visibility: visible;
		  	transform: rotate(360deg);
		}
	}
	@keyframes arrow {
		0% {
			visibility: visible;
			opacity: 0%;
			border-radius: 50%;
			box-shadow: 0.1px 0.5px 35px 0px #05b9d4;
		}
		60% {
			border-radius: 40%;
			box-shadow: 0.1px 1px 60px 0px rgb(255, 255, 255);	
		}
		100% {
			visibility: visible;
			opacity: 100%;
			border-radius: 50%;
			box-shadow: 0.1px 0.5px 25px 0px #05b9d4;
		}
	} 
}

/* RESPONSIVE DESIGN FOR MOBILE */

/* HIGH RESOLUTION such as IPHONE 13Pro until mid range */


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: portrait)   {
	.Home {
		padding-top: -7vh;
		.welcome  {
			padding: 0 25px;
			span {
				font-size: 40px;
			}
		}
		#name {
			font-size: 30px;
			margin: 15vh 0  0 10vw;
		
		}
		#picture img {
			width: 240px;
			margin: -180px 0 0 100px;
		}
		#circle {
			width: 240px;
			height: 240px;
			margin: -240px 0 0 100px;
		}
		#arrow {
			margin: -50px 0 -20px 15px ;
		}
	}
  }

/****** LANDSCAPE *************/

@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: landscape)  {

}


/* TABLES RESOLUTIONS  Tables, Galaxy Flod2 etc.. */ 


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: portrait)   {

}

/****** LANDSCAPE *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: landscape)   {

}