.Contact {
	position: relative;
	width: 100vw;
	height: 100vh;
	scroll-margin: 10vh;
}
#contacts {
	display:flex;
	gap: 5vw;
	margin: 20vh 0 0 20vw;
 	img {
		height:7vw;
		width: 7vw;
		filter:grayscale(100%); 
		&:hover{
			transform: scale(1.2);
			filter:grayscale(0%); 
			box-shadow: 0px 0px 40px 7px rgb(4, 209, 250);
			border-radius: 50%;
		}
	}
}