.Footer {
	position: relative;
	width: 100vw;
	height: 10vh;
	scroll-margin: 10vh;
	background: rgba(60, 59, 59, 0.243);
}

#info {
	position: absolute ;
		font-size: 1.2vw;
		text-align: justify;
		margin: 3vh 0 0 40vw;	
		color: #fcfcfb98;
		text-shadow: 0px 0px 7px rgba(197, 197, 197, 0.406);
}