.Footer {
	position: relative;
	width: 100vw;
	height: 8vh;
	scroll-margin: 10vh;
	background: rgba(60, 59, 59, 0.243);
}

#info {
	position: absolute ;
		font-size: 1.2vw;
		text-align: justify;
		margin: 3vh 0 0 40vw;	
		color: #fcfcfb98;
		text-shadow: 0px 0px 7px rgba(197, 197, 197, 0.406);
}


/* RESPONSIVE DESIGN FOR MOBILE */

/* HIGH RESOLUTION such as IPHONE 13Pro until mid range */


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: portrait)   {
	#info {
		position: absolute ;
			font-size: 4vw;
			text-align: justify;
			margin: 20px 0 0 90px;
			color: #fcfcfb98;
			text-shadow: 0px 0px 7px rgba(197, 197, 197, 0.406);
	}
	
  }

/****** LANDSCAPE *************/

@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: landscape)  {

}


/* TABLES RESOLUTIONS  Tables, Galaxy Flod2 etc.. */ 


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: portrait)   {

}

/****** LANDSCAPE *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: landscape)   {

}


