.Main {
	position: relative;
	width: 100vw;
	font-family: Hack, monospace;
	left: -1vw;
	.textBg {
		font-size: 50px;
		margin-left: 2vw;
		color: #ede8e400;
		text-shadow: 5px 2px 7px rgba(197, 197, 197, 0.687);
	}
}
.spinLoader {
	border: 15px solid rgb(38, 206, 209);
	border-color: rgb(38, 206, 209) transparent transparent transparent;
	border-bottom: 15px solid #a4a7a8a4;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 45%;
	animation: rotation 2s cubic-bezier(0.5, 0, 0.5, 1) infinite, efect2 2s linear infinite;

	position:static;
	translate: 0 100%;
	@keyframes rotation {
		100%{ transform: rotate(360deg);}
	}
	@keyframes efect2 {
		0%{
			opacity: 1;
		}
		50%{
			opacity: 0.6;
		}
		100%{
			opacity: 1;
		}
	  }
}

.On {
	background: #fff;
	color: rgba(53, 52, 52, 0.831);
	.textBg { 
		color: #fdfdfdd3;
		text-shadow: 5px 2px 7px rgb(16, 15, 15);
	}
}

.Off {
	background: #000;
	color: rgba(255, 255, 255, 0.748);
	.textBg { 
		color: #000000cd;
		text-shadow: 2px 1px 3px rgb(255, 255, 255);
	}
}


/* RESPONSIVE DESIGN FOR MOBILE */

/* HIGH RESOLUTION such as IPHONE 13Pro until mid range */


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: portrait)   {
	.Main{
		left: -2.1vw;
	}

  }

/****** LANDSCAPE *************/

@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: landscape)  {

}


/* TABLES RESOLUTIONS  Tables, Galaxy Flod2 etc.. */ 


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: portrait)   {

}

/****** LANDSCAPE *************/
@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: landscape)   {

}